<!doctype html>
<html lang="{{ .Lang }}" class="{{ .Type }} {{ .Kind }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta property="og:url" content="{{ .Permalink }}">
    {{ if .Params.Summary }}
      <meta property="og:description" content="{{ .Params.Summary}}">
    {{ else }}
      <meta property="og:title" content="{{ .Params.Title }}">
    {{ end }}
    {{ with .Params.splash }}
      <meta property="og:image" content="{{ . | relURL }}">
    {{ else }}
      <meta property="og:image" content="{{ "images/nosignal_square.jpg" | relURL }}">
    {{ end }}
    <title>
        {{ block "title" . }}
          No Signal
          {{ with or .Title .Site.Params.tagline }}
            | {{ . }}
          {{ end }}
        {{ end }}
    </title>
    <link rel="shortcut icon" type="image/x-icon" href="https://nosignal.zone/images/favicon/favicon.ico">
    <link rel="stylesheet" href="{{ "css/fonts.css" | relURL }}">
    <link rel="stylesheet" href="{{ "css/base.css" | relURL }}">
  </head>
  <body>
    {{ partial "navigation" }}
    <header>
      {{ block "header" . }}
        {{ .Content }}
      {{ end }}
    </header>

    {{ block "main" . }}
      {{ .Content }}
    {{ end }}

    <section class="footer">
      <div class="wrap">
        <p>
          &copy; Copyright {{ now.Format "2006" }} <a href="https://where.coraline.codes">Coraline Ada Ehmke</a>.
          You can also find me at
          <a href="https://coralineada.bandcamp.com/">Bandcamp</a>,
          <a href="https://soundcloud.com/coralineada">SoundCloud</a>,
          <a href="https://twitch.com/CoralineAda">Twitch</a>,
          <a href="https://ruby.social/@CoralineAda">Mastodon</a>,
          or <a href="https://where.coraline.codes">where.coraline.codes</a>.
        </p>
      </div>
    </section>

    {{ if .Site.BuildDrafts }}
      <script src="/scripts/base.js"></script>
    {{ else }}
      <script>
        {{ readFile "static/scripts/base.js" | safeJS }}
      </script>
    {{ end }}

  </body>
</html>
