<!doctype html>
<html lang="{{ .Lang }}" class="{{ .Type }} {{ .Kind }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta property="og:url" content="{{ .Permalink }}">
    {{ if .Params.Summary }}
      <meta property="og:description" content="{{ .Params.Summary}}">
    {{ else }}
      <meta property="og:title" content="{{ .Params.Title }}">
    {{ end }}
    {{ with .Params.splash }}
      <meta property="og:image" content="{{ . | relURL }}">
    {{ else }}
      <meta property="og:image" content="{{ "images/nosignal_square.jpg" | relURL }}">
    {{ end }}
    <title>{{ block "title" . }}No Signal{{ with .Title }}&thinsp;&mdash;&thinsp;{{ partial "fancy-title.html" . }}{{ end }}{{ end }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ "css/base.css" | relURL }}">
    <script>{{ readFile "static/scripts/webring.js" | safeJS }}</script>

  </head>
  <body>
    <section class="header blurry sticky">
      <div class="wrap">
        <nav>
          <ul class="menu small-caps">
            <li>
              <a href="/">[*]</a>
            </li>
            <li>
              <a href="#calamity-orchestra">Calamity Orchestra</a>
            </li>
            <li>
              <a href="#shapes-with-two-edges"><span class="show-big">Shapes with Two Edges</span></a>
            </li>
            <li>
              <a href="#auntie-kismet">Auntie Kismet</a>
            </li>
            <li>
              <a href="#b-sides">B-Sides</a>
            </li>
            <li>
              <a href="#media">Other Media</a>
            </li>
            <li>
              <a href="#remix">Remix Kits</a>
            </li>
          </ul>
        </nav>
      </div>
    </section>
    <header>
      {{ block "header" . }}
        {{ .Content }}
      {{ end }}
    </header>
    {{ with .Params.Quip }}
      <section class="alt-row">
        <div class="wrap"><blockquote>{{ . }}</blockquote></div>
      </section>
    {{ end }}
    {{ block "main" . }}
      {{ .Content }}
    {{ end }}
    <section class="footer">


    {{ with .Params.webring }}
      <webring-css site="https://nosignal.zone">
        Aaaaaaaaaah
      </webring-css>
    {{ end }}

      <div class="wrap">
        <p>Created by <a href="https://where.coraline.codes">Coraline Ada Ehmke</a>. If you want, you can <a href="/contact/">get in touch</a>.</p>
      </div>
    </section>
    <script>
      {{ readFile "static/scripts/base.js" | safeJS }}
    </script>
  </body>
</html>
