{{ if isset .Params "image" }}
  <article id="{{ .Params.slug }}" class="has-hero">
    {{ $alt := .Params.title }}
    <img data-src="/images/hero/{{ .Params.image }}" class="animated lazy-load" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="{{ $alt }}">
    <h4>
      <a href="{{ .Permalink }}">{{ .Params.title }}</a>
    </h4>
    {{ with .Date }}
      <div class="timestamp">
        {{ .Format "2006-01-02" }}
      </div>
    {{ end }}
    {{ .Content }}
  </article>
{{ else }}
  <article id="{{ .Params.slug }}">
    <h4>
      <a href="{{ .Permalink }}">{{ .Params.title }}</a>
    </h4>
    {{ with .Date }}
      <div class="timestamp">
        {{ .Format "2006-01-02" }}
      </div>
    {{ end }}
    {{ .Content }}
  </article>
{{ end }}
