{{ $banner := "color_bars.gif" }}
{{ $heading := .Site.Title  }}
{{ $subheading := .Site.Params.tagline }}
<figure class="splash">
  <img alt="splash image" data-src="/images/splash/animated/{{ $banner }}" class="animated lazy-load" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">
  <img alt="splash image" data-src="/images/splash/static/{{ $banner }}" class="static lazy-load" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">
  <div class="wrap">
    <h1>{{ $heading }}</h1>
    {{ with $subheading  }}
      <h2>{{ . }}</h2>
    {{ end }}
  </div>
</figure>
