+++
title = "Calamity Orchestra"
slug = "calamity-orchestra"
+++
<p>
  Calamity Orchestra explores contemporary social and political issues
  through the lends of retro new wave and post-punk musical styles.
  It's a collaboration between Coraline Ada Ehmke, Jeremy Green,
  Kevin B Chatham, and Frederick Wells.
</p>
<p>
  We released our first single on 2021-12-18
  "<a href="https://calamityorchestra.bandcamp.com/track/cameras">Cameras</a>"
  (2020 BLM protests seen through cell, body, and television cameras).
  <a href="https://vimeo.com/kevinbchatham">Kevin B Chatham</a> created the
  <a href="https://www.youtube.com/watch?v=891AQ-7oGOk&t=1s">music video</a>.
</p>
<p>
  Our second single followed on 2021-06-07:
  "<a href="https://calamityorchestra.bandcamp.com/track/all-you-fascists">All You Fascists</a>"
  (cover of
  <a href="https://www.woodyguthrie.org/Lyrics/All_You_Fascists.htm">Woody Guthrie's classic protest song</a>
  mashed  up with Dead Kennedys'
  "<a href="https://en.wikipedia.org/wiki/Nazi_Punks_Fuck_Off">Nazi Punks Fuck Off</a>").
</p>
<p>
  <a href="https://calamityorchestra.bandcamp.com">All our music is free or pay-what-you-want</a>.
  Everything is released to the commons under
  <span xmlns:cc="http://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/">
    <span property="dct:title">
      <a href="http://creativecommons.org/licenses/by-nc/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer">CC BY-NC 4.0</a>
      </span>
  </span> Stems are available for <a href="/remix">remixing</a>.
  Thinking about releasing on lathe-cut vinyl.
</p>